.body {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    min-width: 30px;
    text-align: center;
}

footer {
    margin: 20px auto 0;
    text-align: center;
}